.btnBg {
  background-color: #6948EF;
  padding: 20px;
  border: none;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}

.btnBg:hover {
  background-color: #F4FBFE;
  color: black;
  outline: solid 1px #6948EF;
}